.movie-details-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 120px 70px 120px;
}

.movie-details-content {
  display: flex;
  column-gap: 60px;
  padding: 20px;
  background-color: var(--mediumGray);
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.movie-details-image-container {
  width: 100%;
}

.movie-details-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.movie-details-info {
  width: 100%;
}

.movie-details-title {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.015em;
}

.movie-details-year {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: var(--yellow);
}

.movie-details-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  margin-bottom: 10px;
}

.movie-details-description-container {
  width: 100%;
  // min-height: 130px;
  // max-height: 170px;
  padding: 10px 20px;
  border: 1px solid var(--white);
  border-radius: 10px;
  overflow-y: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movie-details-description-container::-webkit-scrollbar {
  display: none;
}

.movie-details-description-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: -0.015em;
}

.reviews-container {
  margin-top: 20px;
  background-color: var(--mediumGray);
  border-radius: 10px;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}