.home-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 120px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.home-left {
  display: flex;
  flex-direction: column;
}

.home-title {
  font-size: 55px;
  line-height: 75px;
  letter-spacing: -0.015em;
  margin-top: 40px;
}

.home-subtitle {
  margin-top: 20px;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
}

.home-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.alert {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #F8D7DA;
  border-radius: 10px;
  margin-bottom: 30px;
}

.alert .alert-text {
  color: #771A21;
}

.alert .close {
  color: #771A21;
  cursor: pointer;
}

.no-account-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  p {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: -0.015em;
    color: #E1E1E1;
  }

  a {
    margin-left: 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: -0.015em;
    color: var(--yellow);
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1220px) {
  .home-image-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
  }
}

@media (max-width: 1110px) {
  .home-image-container {
    display: none;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-title {
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    margin-top: 0;
  }

  .home-subtitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 720px) {
  .home-container {
    padding: 60px 30px;
  }

  .home-title {
    font-size: 35px;
    line-height: 50px;
    letter-spacing: -0.015em;
  }

  .home-subtitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
  }
}